body {
    background-image: url("/images/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Add a black background color to the top navigation */
.topnav {
    
    overflow: hidden;
  }
  
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: darkslategrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    
    color: darkslategrey;
  }  

h1{
    color: black;
    text-align: center;
    text-shadow: 2px 2px 5px yellow;
}


.firstRightDiv{
   height: 200px;
   width: 14%;
    float: left;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 185px;
  margin-right: 0%;
  text-align: center;
  font-family: arial;
  float: right;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

#secondDiv{
    padding-top: 200px;
}

#secondDiv.dl,dt{
    font-weight: bold;
    color: blue;
    text-shadow: 2px 2px 5px yellow;
}
p{
    font-weight: bold;
    color: blue;
    text-shadow: 2px 2px 5px yellow;
}

h3{
    text-shadow: 2px 2px 5px yellow;
}

aside {
  width: 15%;
  padding-left: .1rem;
  margin-left: .1rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px yellow;
  font-style: italic;
  color: darkred;
}
aside > p {
  margin: .2rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 85%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: silver;
  color: white;
  text-align: center;
}